.logo_place_header {
    position: absolute;
    background-image: url(../../../images/logo_place_header.svg);
    background-size: cover;
    margin-top: 30px;
    margin-left: 64px;
    z-index: 1;
  }